{% extends 'base.html' %}

{% block content %}
<h2>Bienvenido al Sistema de Administración Educativa</h2>
<p>Aquí podrás gestionar tu información académica de manera sencilla.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Usuario</th>
            <th>Contraseña</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alumno</td>
            <td>88888</td>
            <td>88888888</td>
        </tr>
        <tr>
            <td>Profesor</td>
            <td>77777</td>
            <td>77777777</td>
        </tr>
    </tbody>
</table>
{% endblock %}