{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Horarios</h2>
    <div class="row">
        {% for dia, horarios_dia in horarios.items %}
        <div class="col">
            <h4>{{ dia }}</h4>
            <ul class="list-group">
                {% for horario in horarios_dia %}
                <li class="list-group-item">
                    Materia: {{ horario.materiacomision_set.first.materia.nombre }} <br>
                    Comisión: {{ horario.materiacomision_set.first.comision.nombre }} <br>
                    Hora: {{ horario.hora_inicio }} - {{ horario.hora_fin }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

