{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Profesores</h2>
    
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profesor in profesores %}
                    <tr>
                        <td>{{ profesor.legajo }}</td>
                        <td>{{ profesor.user.first_name }}</td>
                        <td>{{ profesor.user.last_name }}</td>
                        <td>
                            <a href="{% url 'detalle_profesor' profesor.id %}" class="btn btn-info btn-sm">Ver Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a href="{% url 'asignar_profesor' %}" class="btn btn-primary">Asignar Profesor</a>
        </div>
    </div>
</div>
{% endblock %}


