{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Alumnos</h2>
    
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                    <tr>
                        <td>{{ alumno.legajo }}</td>
                        <td>{{ alumno.user.first_name }}</td>
                        <td>{{ alumno.user.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a href="{% url 'agregar_alumno' %}" class="btn btn-primary">Agregar Alumno</a>
        </div>
    </div>
</div>
{% endblock %}

